h1,
p {
  font-family: Lato;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: #222;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.list-ul {
  display: flex;
  margin: 0;
  list-style-type: none;
  gap: 20px;
}

.list-ul li:hover {
  opacity: 0.7;
  color: #fff !important;
}

.menu-mobile {
  display: none;
}

.logo {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.menu-mobile a {
  text-decoration: none;
  color: rgb(48, 110, 204);
}

@media screen and (max-width: 800px) {
  .list-ul {
    display: none;
  }
  .menu-mobile {
    display: flex;
  }
}
